{% extends 'wahlrechner/base.html' %}
{% load wahlrechner_extras %}
{% load wahlrechner_name %}

{% block title %}{% wahlrechner_title %}{% endblock %}
2
{% block sidebar %}
{% if intro_page %}
    {% include "wahlrechner/sidebar.html" with icon_default="" url_template="" %}
{% endif %}
{% endblock %}

{% block content %}

    <div class="content">
            <p>
                <h1>Datenschutz</h1>
                Die folgenden Informationen geben einen kurzen Überblick über den Datenschutz auf dieser Website.<br><br>

                <h2>Verantwortlicher</h2> 
                Verantwortlich für die Einhaltung des Datenschutzes ist der im Impressum genannte Websitebetreiber.<br><br>

                <h2>Datenquelle</h2> 
                Sie teilen uns Ihre Daten entweder aktiv über eine E-Mail mit oder sie werden über unsere IT-Systeme im Rahmen der Interaktion mit dem Wahlkompass automatisch erhoben.<br><br>

                <h2>Erhebungszweck</h2> 
                Personenbezogene Daten werden ausschließlich zur Gewährleistung der technischen Funktion des Wahlkompass bzw. der elektronischen Kommunkation übermittelt und verarbeitet.<br><br>

                <h2>Rechtsgrundlage</h2> 
                Ihre Daten werden entweder auf Basis einer Einwilligung oder auf Basis unserer berechtigten Interessen erhoben.<br><br>

                <h2>Ihre Rechte </h2>
                Sie haben das Recht auf Auskunft, Berichtigung, Einschränkung der Verarbeitung oder Löschung. Basiert die Verarbeitung auf einer Einwilligung, können Sie diese jederzeit für die Zukunft widerrufen, basiert sie auf einem berechtigten Interesse, können Sie dieser jederzeit widersprechen, wenn Ihre Interessen überwiegen. Bei der zuständigen Aufsichtsbehörde steht Ihnen ein Beschwerderecht zu.<br><br>

                <h2>Zugriffsdaten</h2>
                Bei jedem Aufruf unserer Internetseite durch Ihr Endgerät erfasst unser System Ihre IP-Adresse zum Zweck der technischen Kommunkation mit Ihrem Browser. Dies ist für den Betrieb der Internetseite zwingend erforderlich. Es besteht folglich Ihrerseits keine Widerspruchsmöglichkeit.<br>
                Es werden jedoch keinerlei personenbezogene Daten gespeichert, sondern nur zur Beantwortung der Anfrage verarbeitet und anschließend unmittelbar gelöscht.<br><br>
                
                <h2>E-Mail</h2>
                Auf unserer Internetseite ist eine E-Mail-Adresse angegeben, über die Sie mit uns Kontakt aufnehmen können. Senden Sie uns eine E-Mail, werden die mit der E-Mail an uns übermittelten Daten gespeichert. Eine Weitergabe der Daten an Dritte erfolgt nicht. Rechtsgrundlage für die Verarbeitung ist gemäß Art. 6 Absatz 1 lit. f DSGVO. Die Verarbeitung der personenbezogenen Daten erfolgt allein zur Bearbeitung Ihres Anliegens. Darin liegt auch unser berechtigtes Interesse. Die Daten werden gelöscht, sobald Ihr Anliegen abschließend geklärt ist. Sie können der Verarbeitung Ihrer Daten jederzeit durch eine E- Mail an den Verantwortlichen widersprechen. In einem solchen Fall kann die Konversation nicht fortgeführt werden. Alle personenbezogenen Daten, die im Zuge der Kontaktaufnahme gespeichert wurden, werden in diesem Fall gelöscht.<br><br>
               
                <h2>Recht auf Auskunft, Berichtigung, Einschränkung, Löschung, Datenübertragbarkeit</h2>
                Sie haben das Recht auf Auskunft über Ihre bei uns verarbeiteten personenbezogenen Daten sowie auf Berichtigung oder Löschung oder auf Einschränkung der Verarbeitung sowie ein Recht auf Datenübertragbarkeit.<br><br>

                <h2>Beschwerderecht bei der zuständigen Aufsichtsbehörde</h2>
                Ihnen steht ein Beschwerderecht Im Falle von Verstößen gegen die DSGVO bei der zuständigen Datenschutzbehörde zu.<br><br>

                <h2>Ansprechpartner</h2>
                Sächsischer Datenschutzbeauftragter<br>
                Postfach 11 01 32<br>
                01330 Dresden<br>
                Telefon: 0351/85471 101<br>
                Telefax: 0351/85471 109<br>
                Internet: www.datenschutz.sachsen.de<br>
                E-Mail: saechsdsb@slt.sachsen.de
            </p>
    </div>

    <div class="btn-row">
        {# Leeres Div, um die restlichen Buttons korrekt anzuordnen #}
        <div class="-mb-2"></div>
     
    </div>

{% endblock %}


{% block shortcuts %}

{% endblock %}
